In [1]:
import pandas as pd
import numpy as np

from wordlesolver.common import theory
from wordlesolver.common.variables import Language

language = Language.ES
word = "lisan"

In [2]:
words = pd.read_csv(f"data/{language}/words.csv")[["word"]]

In [18]:
any(words.word == "sobre")

True

In [26]:
import os


cache_path = f"data/{language}/cache/"
os.path.exists(cache_path)

False

In [3]:
filtered_words = words[words.word != word] \
    .reset_index() \
    .reset_index() \
    .rename(columns={
        "level_0" : "id"
    })[["id", "word"]]

filtered_words["id"] += 1

total_words = len(filtered_words)
filtered_words

        id   word
0        1  sobre
1        2  entre
2        3  habia
3        4  hasta
4        5  desde
...    ...    ...
7102  7103  zolle
7103  7104  zompo
7104  7105  zupia
7105  7106  zurre
7106  7107  zurzo

[7107 rows x 2 columns]

In [4]:
from math import exp


def sigmoid(x):
    return 1/(1 + exp(-x))

In [5]:
xVals = np.linspace(-10, 10, total_words)

filtered_words["probability"] = filtered_words.id \
    .apply(lambda x: sigmoid(xVals[total_words - (x)]))

In [6]:
filtered_words

        id   word  probability
0        1  sobre     0.999955
1        2  entre     0.999954
2        3  habia     0.999954
3        4  hasta     0.999954
4        5  desde     0.999954
...    ...    ...          ...
7102  7103  zolle     0.000046
7103  7104  zompo     0.000046
7104  7105  zupia     0.000046
7105  7106  zurre     0.000046
7106  7107  zurzo     0.000045

[7107 rows x 3 columns]

In [ ]:
filtered_words.to_csv(f"data/{language}/test.csv", index=False)